@font-face {
    font-family: valkyrie;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/valkyrie_ot_a_regular.woff2') format('woff2');
}

@font-face {
    font-family: valkyrie;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/valkyrie_ot_a_italic.woff2') format('woff2');
}

@font-face {
    font-family: valkyrie;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/valkyrie_ot_a_bold.woff2') format('woff2');
}

@font-face {
    font-family: valkyrie;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/valkyrie_ot_a_bold_italic.woff2') format('woff2');
}
